html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font/Roboto-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

:root {
  --color-dark: #000;
  --color-light: #fff;
  --color-accent: #ff7143;

  --gap: 16px;
}

.btn {
  display: inline-block;
  border: none;
  color: var(--color-dark);
  background-color: var(--color-light);
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}

.page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  min-width: 320px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: none;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1310px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  color: var(--color-light);
  background-color: var(--color-dark);
  padding: 16px 0;
}

.header--position {
  position: relative;
  z-index: 2;
}

.header__logo {
  margin-right: 65px;
}

.email {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.12);
  padding: 4px 12px;
}

.header__email {
  margin-right: auto;
}

.header__container {
  display: flex;
  align-items: center;
}

.header__nav {
  margin-right: 191px;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 23px;
}

.nav__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light);
}

.btn--accent {
  background-color: var(--color-accent);
  padding: 12px 36px;
}

.hero {
  background-color: var(--color-accent);
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero__content {
  max-width: 587px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__wrapper {
  padding-left: 23px;
}

.hero__title {
  margin-bottom: 31px;
  font-weight: 700;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  color: var(--color-dark);
}

.hero__descr {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--color-dark);
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn--big {
  padding: 20px 38px;
  font-size: 18px;
  line-height: 24px;
}

.btn--dark {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.hero__image {
  margin-top: -80px;
}

.benefits {
  padding: 80px 0;
}

.benefits__list {
  --offsets: 2;

  display: flex;
  gap: var(--gap);
}

.benefits__item {
  display: flex;
  align-items: center;
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}
.benefits__item::before {
  content: "";
  width: 100px;
  height: 100px;
  margin-right: 24px;
  display: block;
  flex-shrink: 0;
  background-color: #fde7da;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px 48px;
}
.benefits__item--speed::before {
  background-image: url("../img/services1.png");
}
.benefits__item--design::before {
  background-image: url("../img/services2.png");
}
.benefits__item--modularity::before {
  background-image: url("../img/services3.png");
}

.benefits__subtitle {
  margin-bottom: 13px;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.benefits__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-dark);
}

.slogan {
  background-color: var(--color-dark);
}

.slogan__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slogan__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 610px;

  padding-top: 100px;
  padding-bottom: 114px;
}

.slogan__img {
  width: 100px;
  height: 20px;
  margin-bottom: 39px;
}

.slogan__descr {
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: var(--color-light);

  margin-bottom: 41px;
}

.slogan__autor {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: var(--color-light);
}

.slogan__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);

  margin-bottom: 30px;
}

.btn--small {
  width: 16px;
  height: 16px;
  border-radius: 0;
}

.btn--grey {
  background-color: rgba(255, 255, 255, 0.4);
}

.portfolio {
  background-color: var(--color-light);
  padding: 97px 0 100px 0;
}

.portfolio__title {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  --offsets: 2;
  gap: var(--gap);
}

.portfolio__item {
  width: calc((100% - (var(--gap) * var(--offsets))) / (var(--offsets) + 1));
}

.portfolio__link {
  display: block;
}

.portfolio__figure {
  margin: 0;
  width: 100%;
}

.portfolio__works {
  padding: 40px 40px 0 40px;
  background-color: var(--color-dark);
}

.portfolio__figurcaption {
  padding: 24px 0 20px 32px;

  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

  border: 1px solid #00000029;
}

.footer {
  background-color: var(--color-dark);
  padding-top: 65px;
}

.footer-top__brand {
  display: flex;
  align-items: center;

  margin-bottom: 66px;
}

.footer-top__btn {
  padding: 11px 36px;
}

.logo--mr {
  margin-right: auto;
}

.nav__list--gap {
  gap: 19px;
}

.footer-top__list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-top__link {
  display: block;

  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-top__links {
  display: flex;
  align-items: center;

  padding-bottom: 27px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.16);
}

.footer-top__nav {
  margin-right: auto;
}

.footer-top__link--tw {
  background-image: url(../img/twitter.svg);
}
.footer-top__link--ig {
  background-image: url(../img/ig.svg);
}
.footer-top__link--fb {
  background-image: url(../img/facebook.svg);
}

.footer-bottom {
  padding-top: 31px;
  padding-bottom: 27px;

  display: flex;
  align-items: center;
}

.footer-bottom__designers {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-right: auto;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light);
}

.footer-bottom__designers--accent {
  color: var(--color-accent);
}

.footer-bottom__contact {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light);
  letter-spacing: 0.5;
}
